<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>A Tiny HTML Document</title>
</head>
<body>
	<p>Let's rock the browser, HTML style.This is a text content</p>
	<P>Capital and lowercase letters <EM>don't matter</em> in tag name.</P>
	<i>I cannot </i><br />
	<s>move backward</s> <br>
	<strong>or forward.</strong></br>
	I am caught<br>
	<hr>
	<!-- <img alt="My First Image" src="@routes.Assets.versioned("images/image-slider-2.jpg")">  -->
	<small>
		The creators of this site will not be held Liable for any injuries
		that may result from unsupervised unicycle racing.
	</small>
	<hr>
	<strong>Breaking new!</strong> There's a sale on <i>leche quemada</i> candy at the
	<b>El Azul</b> restaurant. Don't delay, because when the last candy is gone, it's
	<em>gone</em>.
	<hr>
	<p>
		Many linguists remain unconviced that <b>supercali<wbr>fragilistic<wbr>expialidocious</b>
	    is indeed a word
	</p>
</body>
</html>